@import "tailwindcss";

:root {
  --background: #f5f7fb;
  --foreground: #171717;
  --font-inter: 'Inter', sans-serif;
  --color-primary: #181b20;
  --color-primary-2: #14181e;
  --color-line: #e3e6e6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-primary-2: var(--color-primary-2);
  --color-line: var(--color-line);
}

body {
  color: var(--foreground);
  font-family: var(--font-inter);
}
